$primaryColor: #46529d;
$secondaryColor: #2ebaee;
$mainColor: #fff;
$backgroundColor: #ebebeb;
$borderColor: #ccc;
@mixin color($background,$color) {
    background: $background;
    color: $color;
}
@mixin border {
    border: 0.3px solid $borderColor;
}
body{
    @include color($primaryColor,$mainColor);
    .text-center{
        text-align: center;
    }
    .container{
        width: 60%;
        margin: 10% auto;
    }
    .ListItems{
        @include color($mainColor,$primaryColor);
        span{
        display: inline-block;
        text-align: center;
        padding: 10px 0;
        font-size: 20px;
        @include border();
        }
        span.title{
            @include color($secondaryColor,$mainColor);
        }
        span.icon{
            color : #f00;
            cursor: pointer;
        }
    }
    form{
        padding: 10px;
        background: $backgroundColor;
        border: transparent;
        @include border();
        input{
            border:none;
            background: $backgroundColor;
            text-align: center;
        }
    }
    .ListItems span.name, form input[type=text]{
        width: 60%;
    }
    .ListItems span.age, form input[type=number]{
        width: 30%;
    }
    .ListItems span.action, form input[type=submit]{
        width: 9%;
    }
    form input[type=submit]{
        @include color($secondaryColor,$mainColor);
        border: 0.3px solid $secondaryColor;
        cursor: pointer;
    }
}
